.*.swp
*.exe
eegizapp/CMakeCache.txt
eegizapp/CMakeFiles
eegizapp/Makefile
eegizapp/bin
eegizapp/cmake_install.cmake
eegizapp/lib
eegizapp/scripts/CMakeFiles
eegizapp/scripts/Makefile
eegizapp/scripts/cmake_install.cmake
eegizapp/src/CMakeFiles
eegizapp/src/Makefile
eegizapp/src/cmake_install.cmake
eegizapp/src/mkcls/CMakeFiles
eegizapp/src/mkcls/Makefile
eegizapp/src/mkcls/cmake_install.cmake
